[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/layout.tar.gz]
row=5
col=0

[/root/--exclude=*.log]
row=4
col=0

[/root/--exclude=*.pid]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/root]
row=1
col=0

